/* pricingCards.css */

.pricing-cards-section {
  padding: 1rem;
}

.pricing-heading {
  color: #00A5E0;
  font-size: 4rem;
  margin-bottom: 0.1rem;
  text-align: center;
}

.pricing-description {
  color: #00A5E0;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 500;
}

.pricing-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 2rem;
}

.ai-plans {
  background: rgba(0, 198, 255, 0.2); /* Transparent blue */
  border: 1px solid #00c6ff;
  color: #007acc;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
}

.card {
  padding: 1rem;
  border: 1px solid #00A5E0;
  border-radius: 10px;
  text-align: left;
  flex: 1;
  max-width: 350px ;
  position: relative;
}

.silver {
  background: #fff; /* Transparent silver */
  color: #00A5E0;
  font-weight: bold;
  font-size: larger;
}

.gold {
  background: #DBF6FF;
  color: #00A5E0;
  transform: scale(1.1);
  position: relative;
  font-weight: bold;
  font-size: larger;
}

.platinum {
  background: #fff; /* Transparent platinum */
  color: #00A5E0;
  font-weight: bold;
  font-size: larger;
}

.card-button {
  background: #fff;
  color: #00A5E0;
  border: 2px solid #00A5E0;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.3rem;
  display: block;
  margin: 1rem auto;
  font-weight: bold;
}

.card.gold .card-button {
  background: #DBF6FF;
}

.most-popular {
  background: #007acc;
  color: #fff;
  padding: 0.5rem 1rem;
  position: absolute;
  top: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
}

.pricing {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1px;
}

.cancelled-price {
  text-decoration: line-through;
  color: #888;
  font-size: medium;
}

.save-box {
  background: #00A5E0;
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}

.real-price {
  color: #007acc;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.card-divider {
  border: none;
  height: 1px;
  background: #ABE9FF;
  margin: 1rem 0;
}

.plan-contents {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0;
}

.plan-contents li {
  margin-bottom: 0.5rem;
}

.payment-terms {
  text-align: center;
  margin-top: 4rem;
  color: #00A5E0;
  font-weight: bold;
  font-size: x-large;
}

.extra-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.extra-content-left {
  flex: 1;
  padding-top: 6rem;
  padding-left: 25rem; /* Increase this value to increase the gap */
}

.extra-content-left img {
  width: 100%;
  height: 100%;
}

.extra-content-right {
  flex: 2;
  padding-left: 6rem;
}

.extra-content-right h3 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

.extra-content-right p {
  font-size: 1.25rem;
  color: #333;
}
